@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.head-fix{
  background: rgb(226, 246, 246);
    overflow: hidden;
}